@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-gilroy;
}

.btn-normal {
  @apply mr-1 xl:mr-1 lg:mr-1 md:mr-1 xl:py-5 lg:py-4 md:py-4 py-4 px-10 xl:px-[55px] lg:px-6 md:px-6 bg-primary text-[#ffffff] hover:text-[#ffffff] font-semibold rounded-[100px] hover:border-secondary hover:bg-secondary focus:ring-primary;
}

.btn-normal-sm {
  @apply mr-1 xl:mr-1 lg:mr-1 md:mr-1 xl:py-3 lg:py-3 md:py-2 py-2 px-4 xl:px-[40px] lg:px-5 md:px-6 bg-primary text-[#ffffff] hover:text-[#ffffff] font-semibold rounded-[100px] hover:border-secondary hover:bg-secondary focus:ring-primary;
}


.btn-playstore {
  @apply mr-1 xl:mr-1 lg:mr-1 md:mr-1 xl:py-5 lg:py-4 md:py-4 py-4 px-[20px] xl:px-[40px] lg:px-6 md:px-6 bg-[#2F5FB9] text-[#ffffff] hover:text-[#ffffff] font-semibold rounded-[100px] hover:border-secondary hover:bg-secondary focus:ring-primary;
}
.btn-appstore {
  @apply mr-1 xl:mr-1 lg:mr-1 md:mr-1 xl:py-5 lg:py-4 md:py-4 py-4 px-[20px] xl:px-[40px] lg:px-6 md:px-6 bg-primary text-[#ffffff] hover:text-[#ffffff] font-semibold rounded-[100px] hover:border-secondary hover:bg-secondary focus:ring-primary;
}

.btn-playstore-2 {
  @apply mr-1 xl:mr-1 lg:mr-1 md:mr-1 xl:py-4 lg:py-3 md:py-3 py-3 px-8 xl:px-[25px] lg:px-4 md:px-4 bg-[#2F5FB9] text-[#ffffff] hover:text-[#ffffff] font-semibold rounded-[100px] hover:border-secondary hover:bg-secondary focus:ring-primary;
}
.btn-appstore-2 {
  @apply mr-1 xl:mr-1 lg:mr-1 md:mr-1 xl:py-4 lg:py-3 md:py-3 py-3 px-8 xl:px-[25px] lg:px-4 md:px-4 bg-primary text-[#ffffff] hover:text-[#ffffff] font-semibold rounded-[100px] hover:border-secondary hover:bg-secondary focus:ring-primary;
}

.btn-readmore {
  @apply mr-1 xl:mr-1 lg:mr-1 border-[#ffffff] border-[2px] md:mr-1 xl:py-5 lg:py-4 md:py-4 py-4 px-10 xl:px-[40px] lg:px-6 md:px-6 bg-primary text-[#ffffff] hover:text-[#ffffff] font-semibold rounded-[100px];
}

.btn-outline {
  @apply mr-1 xl:mr-1 lg:mr-1 border-[#ffffff] border-[2px] md:mr-1 xl:py-3 lg:py-3 md:py-3 py-3 px-8 xl:px-[20px] lg:px-6 md:px-6 bg-primary text-[#ffffff] hover:text-[#ffffff] font-semibold rounded-[100px];
}

.btn-normal {
  @apply mr-1 xl:mr-1 lg:mr-1 md:mr-1 xl:py-3 lg:py-3 md:py-3 py-2 px-8 xl:px-[40px] lg:px-6 md:px-6 bg-primary text-[#ffffff] hover:text-[#ffffff] font-semibold rounded-[100px] hover:border-secondary hover:bg-secondary focus:ring-primary;
}




.custom-datepicker-popper {
  @apply bg-white border border-gray-300 rounded-lg  max-h-[300px] overflow-y-auto z-50;
}

.react-datepicker__header {
  @apply bg-gray-100 border-b border-gray-300;
}

.react-datepicker__day {
  @apply text-gray-800;
}

.react-datepicker__day--selected {
  @apply bg-blue-500 text-white;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-blue-100;
}

.react-datepicker__day--today {
  @apply font-bold;
}
